$breakpoints: (
    palm:          (
        condition:      "screen and (max-width: 719px)"
    ),
    lap:           (
        condition:      "screen and (min-width: 720px) and (max-width: 1023px)"
    ),
    lap-and-up:    (
        condition:      "screen and (min-width: 720px)"
    ),
    portable:      (
        condition:      "screen and (max-width: 1023px)"
    ),
    desk:          (
        condition:      "screen and (min-width: 1024px)"
    ),
    retina:        (
        condition:      "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)",
        exclude-widths: true
    )
);